
		body{
			background-color:black;
		}
			
		h1{
			color:blue;
			font-family: "courier", monospace, sans-serif;
			text-align: center;
		}
		
		form{
			padding-left:150px;
		}
		div{
			background-color:red;
			margin:auto;
			border:1px solid black;
			width:40%;
			padding-bottom:50px;
		}
		
		#result{
				border:1px solid black;
				background-color: blue;
		}

