<h1>Request</h1>
{% with messages = get_flashed_messages()%}
  {%if messages%}
  <ul>
    {%for message in messages%}
      <li>
        {{message}}
      </li>
    {%endfor%}
  </ul>
  {%endif%}
{%endwith%}

<form method="POST" action="{{ url_for('request_cab')}}">
  {{ form.csrf_token}}
  <div>{{form.seat.label}} {{form.seat(size=1)}}</div>
  <div>{{form.driver.label}} {{form.driver(size=10)}}</div>
  <div>{{form.vtype.label}} {{form.vtype(size=1)}}</div>
  <div>{{form.wfactor.label}} {{form.wfactor(size=1)}}</div>
  <input id="request" type="submit" value='Request Cab' />
</form>
